body {
    background-color: cadetblue;
    text-align: left;
    color: black;
    font-family: Arial, sans-serif;
}

form {
    width: 100%;
    padding: 30px;
    border-radius: 8px;
    max-width: 450px;
    color: white;
    color: #1f2937;
    font-size: larger;
    background-color: aliceblue;
}

button {
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #0056b3;
}
